.palamut-btn {
    border-radius: 5px;
    font-size: rem(15px);
    padding: 15px 30px;
    display: inline-block;
    color: $color-white;
    position: relative;
    display: inline-block;
    line-height: 1;
    // box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.15);
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    background-color: $color-primary;
    z-index: 1;
    @include transition;

    &:hover {
        background-color: darken($color: $color-primary, $amount: 15);

        &::before {
            opacity: 1;
        }
    }

    &:before {
        position: absolute;
        content: "";
        border-radius: inherit;
        transition: all 0.4s ease;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: 102% 102%;
        opacity: 0;
    }
}