.xs-serach {
    position: relative;
    input:not([type="submit"]) {
        padding: 0 20px;
        background-color: transparent;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        border: 0px;
        border: 1px solid #e7e7e7;
        @include transition;
        @include inputPlaceholder {
            color: #777777;
            font-size: rem(14px);
        }
        &:focus {
            border-color: $color-primary;
        }
    }
    .search-btn {
        width: 62px;
        border: 0px;
        font-size: rem(14px);
        color: #777777;
        background-color: transparent;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        cursor: pointer;
        @include transition;
    }
}