# Distribution Files
dist/**
build/**
tmp/**
backups/**
vender/**
src/plugins/palamut/includes/blocks/node_modules/**
wp-config.php
phpreport.txt
.imdone
imdone-help.md

# IDE & Editors
.idea
.vscode
config.codekit3

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*
Icon

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

*.iml

node_modules
package-lock.json

# Debug log from npm
npm-debug.log

*.map
/Icon

/vendor/
