
.palamut-single-faq {
    position: relative;
    overflow: hidden;
    .palamut-faq-title {
        font-size: rem(15px);
        margin-bottom: 0px;
    }
    .palamut-faq-header {
        background-color: #f5f5f5;
        padding: {
            top: 21px;
            bottom: 21px;
        }
    }

}

