.error-404 {

	.page-content {
		margin: 0 auto;
		max-width: 600px;
		text-align: center;

		input {
			margin-bottom: 10px;
		}

		.search-submit {
			width: 100%;
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}
}