.entry-content {
	figcaption {
		display: block;
		font-size: $caption_fontsize;
		line-height: $font__line-height-pre;
		margin: 0 0 -10px !important;
		padding-top: 10px;
		text-align: center;
		white-space: nowrap;

		a {
			color: inherit;
		}
	}

	figcaption:not(.blockgallery--caption),
	.blockgallery:not(.has-caption-color) figcaption {
		color: $gray;
	}

	.wp-block-gallery .blocks-gallery-item figcaption {
		color: $white !important;
		margin: 0 !important;
		padding-bottom: 15px;
		white-space: pre-wrap;
	}
}
