/**
*
* Header > Site Title
**/
.site-title {
	display: block;
	margin: 0;
	transition: 300ms color cubic-bezier(.86,.14,.26,1.81);

	&:hover {
		h1,
		p {}
	}

	&:focus {
		h1,
		p {
			}
	}

	&:visited {
		h1,
		p {}
	}

	h1,
	p {
		font-size: var(--site-title-fontsize, $site-title__font-size);
		font-spacing: 0px;
		font-family: var(--heading-fontfamily, $font__heading);
	}

	p {
		clear: both;
		// @TODO: We have to match styling with h1. Sematics y'all know.
		display: block;
		font-weight: 800;
		font-weight: 400;
		line-height: 1.25;
		margin: 0;
		font-family: var(--body-text-fontfamily, $font__body);
	}

}
