@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

@mixin fluid-line-height($min_width, $max_width, $sml_line-height, $mid_line-height, $lrg_line-height) {
	line-height: $sml_line-height;

	@media screen and (min-width: $min_width) {
		line-height: $mid_line-height;
	}

	@media screen and (min-width: $max_width) {
		line-height: $lrg_line-height;
	}
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin letter-spacing($size) {
	letter-spacing: $size;
	letter-spacing: calculateRem($size);
}

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin antialiased() {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


@mixin font-smoothing() {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@mixin ellipsis() {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	word-wrap: normal;
}

@mixin headings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

