small {
  font-size: 0.8em; }

code, tt, kbd {
  color: #e83e8c;
  font-size: 87.5%;
  word-break: break-word; }

i, cite, em, var, address, dfn, q {
  font-style: italic; }

kbd {
  font-family: monospace; }

sub {
  font-size: smaller;
  vertical-align: sub; }

sup {
  font-size: smaller;
  vertical-align: super; }
