a {
	color: var(--link-color);
	text-decoration: none;
	@include link-transition();
	&:hover {
		color: var(--link-color__hover);
	}
	&:focus {
		
	}
	&:visited {
		color: var(--link-color__visited);
	}
	
	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
	&[href^=tel] {
		color: inherit;
		text-decoration: none;
	}
}