
#colophon.classic-footer {	
	.footer-widgets {
		margin-left: auto;
		margin-right: auto;
		max-width: $content__width--wide;
		padding-left: $content__padding;
		padding-right: $content__padding;
		@include media-breakpoint-up(sm) {
			padding: 11vw 4%;
		}
		@include media-breakpoint-down(sm) {
			padding: 5vw 0%;
		}
	}
}
