.hidden {
	display: none ;
	visibility: hidden ;
}

.hide {
	display: none ;
}

.show {
	display: block ;
}

.invisible {
	visibility: hidden;
}

body.noscroll {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.text-hide {
	background-color: transparent;
	border: 0;
	color: transparent;
	font: "0/0 a";
	text-shadow: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.vertical-center {
	align-content: center;
	align-items: center;
	align-self: center;
	display: flex;
}

.vertical-bottom {
	align-content: flex-end;
	align-items: flex-end;
	align-self: flex-end;
	display: flex;
}

.cursor {
	cursor: pointer ;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-unstyled {
	list-style: none;
	padding-left: 0;
}

.list-inline {
	list-style: none;
	padding-left: 0;
}

.list-inline-item {
	display: inline-block;
}

.clear,
.clearfix,
.primary-menu,
.site-footer,
.textwidget,
.entry-content,
article[class^="post-"] {
	@include clearfix;
}

.upper {
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.small-caps {
	font-feature-settings: "smcp" 1, "kern" 1;
	letter-spacing: 0.1rem;
}

.lining-numerals {
	font-feature-settings: "lnum" 1, "kern" 1;
}

.oldstyle-numerals {
	font-feature-settings: "onum" 1, "kern" 1;
}

.pace {
	-moz-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: $accent;
	height: 2px;
	position: fixed;
	right: 100%;
	top: 0;
	width: 100%;
	z-index: 999999;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}

.embed-responsive,
.video-player {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	iframe {
		border: 0;
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.overflow-visible {
	overflow: visible ;
}

.overflow-hidden {
	overflow: hidden ;
}

.embed-responsive-16by9,
.video-player {
	padding-bottom: 56.25%;
}

.instagram-media {
	max-width: 100% ;
}

.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.line-height-0 {
	line-height: 0;
}

.font-size-inherit {
	font-size: inherit ;
}

.zindex2 {
	z-index: 2 ;
}


.branded [class*=fa-behance] {
  background-color: #1769ff;
}

.branded [class*=fa-behance-square] {
  background-color: #1769ff;
}

.branded [class*=fa-codepen] {
  background-color: #0ebeff;
}

.branded [class*=fa-deviantart] {
  background-color: #05cc47;
}

.branded [class*=fa-digg] {
  background-color: #005be2;
}

.branded [class*=fa-dribbble] {
  background-color: #ea4c89;
}

.branded [class*=fa-facebook] {
  background-color: #3b5998;
}

.branded [class*=fa-facebook-square] {
  background-color: #3b5998;
}

.branded [class*=fa-flickr] {
  background-color: #0063dc;
}

.branded [class*=fa-github] {
  background-color: #4078c0;
}

.branded [class*=fa-google] {
  background-color: #4285f4;
}

.branded [class*=fa-google-plus] {
  background-color: #dd4b39;
}

.branded [class*=fa-instagram] {
  background-color: #405de6;
}

.branded [class*=fa-jsfiddle] {
  background-color: #0084FF;
}

.branded [class*=fa-linkedin] {
  background-color: #0077b5;
}

.branded [class*=fa-medium] {
  background-color: #00ab6c;
}

.branded [class*=fa-paypal] {
  background-color: #003087;
}

.branded [class*=fa-pinterest] {
  background-color: #bd081c;
}

.branded [class*=fa-pinterest-p] {
  background-color: #bd081c;
}

.branded [class*=fa-reddit] {
  background-color: #ff4500;
}

.branded [class*=fa-reddit-square] {
  background-color: #ff4500;
}

.branded [class*=fa-skype] {
  background-color: #00aff0;
}

.branded [class*=fa-slack] {
  background-color: #6ecadc;
}

.branded [class*=fa-snapchat] {
  background-color: #fffc00;
}

.branded [class*=fa-soundcloud] {
  background-color: #ff8800;
}

.branded [class*=fa-spotify] {
  background-color: #1db954;
}

.branded [class*=fa-stack-overflow] {
  background-color: #f48024;
}

.branded [class*=fa-telegram] {
  background-color: #0088cc;
}

.branded [class*=fa-trello] {
  background-color: #0079bf;
}

.branded [class*=fa-tumblr] {
  background-color: #35465c;
}

.branded [class*=fa-twitch] {
  background-color: #6441a5;
}

.branded [class*=fa-twitter] {
  background-color: #1da1f2;
}

.branded [class*=fa-twitter-square] {
  background-color: #1da1f2;
}

.branded [class*=fa-vimeo] {
  background-color: #1ab7ea;
}

.branded [class*=fa-wordpress] {
  background-color: #21759b;
}

.branded [class*=fa-youtube] {
  background-color: #ff0000;
}

.branded [class*=fa-youtube-play] {
  background-color: #ff0000;
}

.branded-text [class*=fa-behance] {
  color: #1769ff;
}

.branded-text [class*=fa-behance-square] {
  color: #1769ff;
}

.branded-text [class*=fa-codepen] {
  color: #0ebeff;
}

.branded-text [class*=fa-deviantart] {
  color: #05cc47;
}

.branded-text [class*=fa-digg] {
  color: #005be2;
}

.branded-text [class*=fa-dribbble] {
  color: #ea4c89;
}

.branded-text [class*=fa-facebook] {
  color: #3b5998;
}

.branded-text [class*=fa-facebook-square] {
  color: #3b5998;
}

.branded-text [class*=fa-flickr] {
  color: #0063dc;
}

.branded-text [class*=fa-github] {
  color: #4078c0;
}

.branded-text [class*=fa-google] {
  color: #4285f4;
}

.branded-text [class*=fa-google-plus] {
  color: #dd4b39;
}

.branded-text [class*=fa-instagram] {
  color: #405de6;
}

.branded-text [class*=fa-jsfiddle] {
  color: #0084FF;
}

.branded-text [class*=fa-linkedin] {
  color: #0077b5;
}

.branded-text [class*=fa-medium] {
  color: #00ab6c;
}

.branded-text [class*=fa-paypal] {
  color: #003087;
}

.branded-text [class*=fa-pinterest] {
  color: #bd081c;
}

.branded-text [class*=fa-pinterest-p] {
  color: #bd081c;
}

.branded-text [class*=fa-reddit] {
  color: #ff4500;
}

.branded-text [class*=fa-reddit-square] {
  color: #ff4500;
}

.branded-text [class*=fa-skype] {
  color: #00aff0;
}

.branded-text [class*=fa-slack] {
  color: #6ecadc;
}

.branded-text [class*=fa-snapchat] {
  color: #fffc00;
}

.branded-text [class*=fa-soundcloud] {
  color: #ff8800;
}

.branded-text [class*=fa-spotify] {
  color: #1db954;
}

.branded-text [class*=fa-stack-overflow] {
  color: #f48024;
}

.branded-text [class*=fa-telegram] {
  color: #0088cc;
}

.branded-text [class*=fa-trello] {
  color: #0079bf;
}

.branded-text [class*=fa-tumblr] {
  color: #35465c;
}

.branded-text [class*=fa-twitch] {
  color: #6441a5;
}

.branded-text [class*=fa-twitter] {
  color: #1da1f2;
}

.branded-text [class*=fa-twitter-square] {
  color: #1da1f2;
}

.branded-text [class*=fa-vimeo] {
  color: #1ab7ea;
}

.branded-text [class*=fa-wordpress] {
  color: #21759b;
}

.branded-text [class*=fa-youtube] {
  color: #ff0000;
}

.branded-text [class*=fa-youtube-play] {
  color: #ff0000;
}
